/.quarto/
/_book/
/docs/

# Duplicated font directories (originals in _extensions/juba/bookup/fonts/)
/fonts/
/Química_General/fonts/
/Conjuntos/fonts/

# macOS
.DS_Store
*.log
*.tex
*.toc
*.aux
*.out
*.fls
*.synctex.gz
*.fdb_latexmk

**/*.quarto_ipynb
